#profile h2 {
    font-size: 50px;
    margin-top: 15%;
    margin-bottom: 10px;
}

#profile p {
    padding-right: 30%;
    opacity: 75%;
    font-size: 17px;
    line-height: 1.8;
}

#profile h5 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile {
    padding-left: 28%;
    padding-bottom: 5%;
}